* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    font-size: 1.75rem;
    display: flex;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(34, 32, 32, .75);
}

.left .img-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.right a {
    text-decoration: none;
    color: white;
}

.right a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.banner h3 {
    text-align: center;
    font-style: italic;
}

.center {
    color: wheat;
}
.center a {
    color: white;
    text-decoration: none;
}

.center a:hover {
    text-decoration:underline;
}

footer {
    display: flex;
    justify-content: center;
}

footer .text-footer {
    font-size: .75rem;
}

footer a {
    text-decoration: none;
    color: inherit;
}