* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}